.auth-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: calc(100vh - 53px); /* Учитываем высоту заголовка */
}

.auth-form {
	width: 95%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 40px;
}

.auth-form h2 {
	color: #000;
	text-align: center;
	margin-bottom: 24px;
}

.auth-form input {
	padding: 12px;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	background: #f5f5f5;
	color: #000;
}

.login-button {
	background: #007aff;
	color: white;
	border: none;
	padding: 12px;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
}

.login-button:focus {
	outline: none;
}

.login-button:active {
	background: #0062cc;
}

.register-button {
	background: transparent;
	color: #007aff;
	border: none;
	padding: 8px;
	font-size: 14px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.register-button:focus {
	outline: none;
}

.register-button:active {
	color: #0062cc;
}

.admin-button {
	background: #f5f5f5;
	color: #000;
	border: none;
	padding: 8px;
	border-radius: 8px;
	font-size: 12px;
	width: fit-content;
	align-self: center;
	margin-top: 16px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.admin-button:focus {
	outline: none;
}

.admin-button:active {
	background: #e5e5ea;
}
